<p-panel header="Pesquise pelo CEP">
  <ngx-prgomesr-address (aoBuscarEndereco)="getEndereco($event)"></ngx-prgomesr-address>
</p-panel>
<p-divider></p-divider>
<p-panel header="Endereço encontrado:">
  <pre>{{endereco | json}}</pre>
</p-panel>
